
select {
   -o-appearance: none;
   -ms-appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

form { margin: 0; padding: 0;
 }
input:read-only { background-color: #ccc;
}
input, select, textarea{ font-weight:bold;
}
.part {
  margin: 10px;
  padding: 10px;
  border: 1px solid #999;
  font-weight:bold;
  width:90%;
  white-space: nowrap;
	overflow: auto;
	  max-width: 500px;

}
p.test {
	margin: 10px;
  padding: 10px;
  border: 1px solid #999;
  font-weight:bold;
	white-space: nowrap;
	overflow: auto;
  width:auto;
	  min-width:150px ;
	  max-width: 20px;

}
p.test:hover {
  background-color: yellow;
}



body {
	margin: 0; padding: 0;
	
}


.round-button {
    display:block;
    width:80px;
    height:80px;
    line-height:80px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #555777;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button:hover {
    background: #777555;
}


::-webkit-scrollbar {
    display: none;
}

/**********/
/****************myWincorParts table style******************************************************************************************/
.myWincorParts { background-color:#FFFFE0; border-collapse:collapse; color:#000; /*font-size:18px;*/}
.myWincorParts th { background-color:#BDB76B; color:white;border-right: 1px solid #BDB76B; border-left: 1px solid #BDB76B; /*width:50%;*/}
.myWincorParts td, .myWincorParts th { border-right: 1px solid #BDB76B; border-right: 1px solid #BDB76B; /*padding:5px;*/}
.myWincorParts td { border-bottom:3px dotted #BDB76B;border-right:1px solid #BDB76B;border-right: 1px solid #BDB76B; }
/******************myRM4Parts table style*******************************************************************************************/
.myRM4Parts { background-color:#F4F6F6; border-collapse:collapse; color:#000;}
.myRM4Parts th { background-color:#1B2631; color:white;border-right: 1px solid #1B2631;}
.myRM4Parts td, .myRM4Parts th { border-right: 1px solid #1B2631;}
.myRM4Parts td {border-bottom:3px dotted #1B2631;border-right:1px solid #1B2631;}
/*************myV6Parts*************************************************************************************************************/
.myV6Parts { background-color:#EAFAF1; border-collapse:collapse; color:#000;}
.myV6Parts th { background-color:#186A3B; color:white;border-right:1px solid #186A3B;}
.myV6Parts td, .myV6Parts th {;border-right:1px solid #186A3B;}
.myV6Parts td { border-bottom:3px dotted #186A3B;border-right:1px solid #186A3B;}
/****************myDieboldParts*****************************************************************************************************/
.myDieboldParts { background-color:#F9EBEA; border-collapse:collapse; color:#000;}
.myDieboldParts th { background-color:#641E16; color:white;border-right:1px solid #641E16;}
.myDieboldParts td, .myV6Parts th { border-right:1px solid #641E16;}
.myDieboldParts td { border-bottom:3px dotted #641E16;border-right:1px solid #641E16;}
/***************Header**************************************************************************************************************/
.header {width: 100%; position: sticky; padding: 0px 0px 0px 0px; background: #fff; color: #fff; text-align: center;}
#header01 { top: 0px; padding: 105px 0px 0px 0px;}
#header02 { top: 105px; background: #BDB76B; color:white; }
#header03 { top: 105px;  background: #1B2631; color:#fff;}
#header04 { top: 105px;  background: #186A3B; color:#fff;}
#header05 { top: 105px; background: #641E16; color:#fff;}
.content  { width: 100%; text-align: center}	
/*************** DIV Classes********************************************************************************************************/
.nowarb { white-space: nowrap; }
/*************** DIV Classes********************************************************************************************************/
main { padding: 0;}
.mainHead{ border: 2px solid #000; background-color: #000; height: 40px; border-radius:50px 50px 50px 50px; width: 100%; text-align: center; line-height: 40px; color: #fff; display: inline-block; text-decoration: none; }
.Download{ border: 2px solid #000; background-color: #fff; height: 40px; border-radius:0px 50px 50px 0px; width: 100%; text-align: center; line-height: 40px; color: black; display: inline-block; text-decoration: none; cursor: pointer;}
.Download:hover{ background-color: #000; color: #fff;}
.size_tooltip{ border: 2px solid #000; background-color: #fff; border-radius:0px 50px 50px 0px; width: 100%; text-align: center; /* Align horizontal */ padding: 11px 0px  11px 0px; /* Align vertical */ color: black; display: inline-block; text-decoration: none; cursor: help; }
.Size{ border: 2px solid #000; background-color: #fff; height: 40px; border-radius:0px 50px 50px 0px; width: 100%; text-align: center; line-height: 40px; color: black; display: inline-block; text-decoration: none; cursor: pointer;}
.link{ border: 2px solid #000; background-color: #fff; height: 40px; width: 100%; border-radius: 50px 0px 0px 50px ; text-align: center; line-height: 40px; color: black; text-decoration: none; display: inline-block; cursor: pointer;}
.link:hover{ background-color: #000; color: #fff;}
.FixedDrobdownMenue { position: fixed; top:0; padding:0px; background: #fff; text-align: auto; width:100%;}
.VerticalText { writing-mode: vertical-rl; text-orientation: mixed; font-weight: bold;}
.Lnk{ border: 2px solid #000; background-color: #fff;text-align: center;width: 100%;line-height: 40px; color: black; text-decoration: none; display: inline-block; cursor: pointer;}
.lnk:hover{ background-color: #000; color: #fff;}
.mHead{ border: 2px solid #000; background-color: #000; height: 40px; width: 100%; text-align: center; line-height: 40px; color: #fff; display: inline-block; text-decoration: none; }
.lgin{ border: 2px solid #000; background-color: #fff;text-align: center;width: 100%;line-height: 40px; color: black; text-decoration: none; display: inline-block; cursor: pointer;}
/***********login code**************************************************************************************************************/
#ae-form {display: none;}
/******************body*************************************************************************************************************/



/*****************************tips tool bubble *************************************************************************************/
.circle { border-radius: 50px 50px 50px 50px; width: 15px; height: 15px; padding: 1px; background: #000; border: 0px solid #000; color: #fff; text-align: center; font: 15px Arial, sans-serif; cursor: help;}
.tooltip { display: inline-block;}
.tooltip .tooltiptext { visibility: hidden; width: 230px; background-color: black; color: #fff; text-align: left; border-radius: 6px; padding: 5px 15px; position: absolute; z-index: 1; margin-left: -250px;   /* bubble position*/ margin-top: 0px;/* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */ opacity: 0; transition: opacity 1s;}
.tooltip:hover .tooltiptext { visibility: visible; opacity: 1;}
/******************wrong input******************************************************************************************************/
.inputBox1 input:invalid { animation: justshake 0.3s forwards; color: red;}
@keyframes justshake { 25% { transform: translateX(5px);} 50% { transform: translateX(-5px);} 75% { transform: translateX(5px);} 100% { transform: translateX-(5px);}}
/*******************searchboxstyle**************************************************************************************************/
.SearchBoxStyle { height: 30px; width: 100%; border-radius: 25px 25px 25px 25px; border: 2px solid #000; cursor: pointer; background-color: transparent; -webkit-transition: 0.5s; transition: 0.5s; font-size: 15px; color: #000; letter-spacing: 2px; margin-bottom: 0px;}
/**************SearchButtonStyle****************************************************************************************************/
.SearchButtonStyle { height: 30px; width: 100%; border-radius: 25px 25px 25px 25px; border: 2px solid #000; cursor: pointer; background-color: transparent; -webkit-transition: 0.5s; transition: 0.5s; text-transform: uppercase; font-size: 15px; color: #000; letter-spacing: 2px; margin-bottom: 0px;}
.SearchButtonStyle:hover { background-color: rgb(0, 0, 0); color: white;}
/**************input style**********************************************************************************************************/
.inputBox1 { position: relative; width: px;}
.inputBox1 input { width: 100%; padding: 3px; outline: none; border: none; color: #000; font-size: 15px; background: transparent; border-left: 2px solid #000; border-bottom: 2px solid #000; -webkit-transition: 0.1s; transition: 0.1s; border-bottom-left-radius: 15px;}
.inputBox1 span { margin-top: 5px; position: absolute; left: 0; -webkit-transform: translateY(-4px); -ms-transform: translateY(-4px); transform: translateY(-4px); margin-left: 2px; padding: 8px; pointer-events: none; font-size: 15px; color: #ccc; text-transform: uppercase; -webkit-transition: 0.5s; transition: 0.5s; letter-spacing: 0px; border-radius: 0px;}
.inputBox1 input:valid~span,.inputBox1 input:focus~span { -webkit-transform: translateX(120px) translateY(-15px); -ms-transform: translateX(120px) translateY(-15px); transform: translateX(120px) translateY(-15px); font-size: 10px; padding: 3px 3px;  background: #fff; letter-spacing: 0px; color: #000; border: 0px; font-weight:bold;}
.inputBox1 input:valid,.inputBox1 input:focus { border: 2px solid #000; border-radius: 0px 15px;}
.enter { height: 45px; width: 100px; border-radius: 0px 15px; border: 2px solid #000; cursor: pointer; background-color: transparent; -webkit-transition: 0.5s; transition: 0.5s; text-transform: uppercase; font-size: 15px; color: #000; letter-spacing: 2px; margin-bottom: 0px;}
.enter:hover { background-color: rgb(0, 0, 0); color: white;}
.login { height: 45px; width: 100%; border-radius: 0px 15px; border: 2px solid #000; cursor: pointer; background-color: transparent; -webkit-transition: 0.5s; transition: 0.5s; text-transform: uppercase; color: #000; letter-spacing: 2px;}
/*************Drob down menu********************************************************************************************************/
.DrobMenu { height: 30px; width: 100%; border-radius: 0px 15px; border: 2px solid #000; cursor: pointer; background-color: transparent; -webkit-transition: 0.5s; transition: 0.5s; text-transform: uppercase; font-size: 15px; color: #000; letter-spacing: 2px; margin-bottom: 0px;}
.DrobMenu:hover { background-color: rgb(0, 0, 0); color: white;}
/************** blink text**********************************************************************************************************/
.blink_me { animation: blinkMe 2s linear infinite;}
@keyframes blinkMe { 0% { opacity: 0;} 50% { opacity: 1;} 100% { opacity: 0;}}
/************************************************************************************************************************************/
textarea:focus, input:focus { font-weight:bold;}
input, select, textarea{ font-weight:bold;}
.hide{ display: none; }
#dip { width: 100%; height: 300px; background-color: #fff;}
